ovoscope>=1.5.0,<2.0.0
pytest>=7.0.0,<9
pytest-timeout>=2.0.0
ovos-spec-tools>=1.4.0a1,<2.0.0
ovos-padatious>=1.8.0a1,<2.0.0
ovos-core>=2.2.4a1,<2.3.0
ovos-workshop>=8.3.0a1,<10.0.0
ovos-adapt-parser>=1.6.0a1,<2.0.0
ovos-bus-client>=2.2.0a1,<3.0.0
